
#colizquierda{
}
.card{
    box-sizing: border-box;
    margin-top: 18px;
}
.carousel{
    margin-top: 18px;
}
#colmedio{
}
#td{
    width: 40%;
}
.paginas{
    margin-top :18px;
}
#barraforo{
    background-color:darkslategrey;
}
#post{
    margin: 10px;
}
#register{
    font-size: 85%;
}
#regisb{
    font-size: 85%;
}
#nombre{
    color: white;
    margin-right: 5px;
    margin-top: 10px;
}
#foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}
#who{
    text-align: center;
}
#desc{
    font-size: 20px;
}
#colderecha
{
}
#nw{
    margin-left: 115px;
}
#nw1{
    margin-left: 115px;
}
.postprofilepic{
    display: none;
    margin-left:1170;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: -10;
    margin-top: -70;
}
#postn{
    text-align: right;
    margin-right: 50px;
    margin-top: -40;
}
#categorybadge{
    position: relative;
    float: right;
}