
#colizquierda{
}
.card{
    box-sizing: border-box;
    margin-top: 18px;
}
.carousel{
    margin-top: 18px;
}
#colmedio{
}
#td{
    width: 40%;
}
.paginas{
    margin-top :18px;
}
#barraforo{
    background-color:darkslategrey;
}
#post{
    margin: 10px;
}
#register{
    font-size: 85%;
}
#regisb{
    font-size: 85%;
}
#nombre{
    color: white;
    margin-right: 5px;
    margin-top: 10px;
}
#foto{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}
#who{
    text-align: center;
}
#desc{
    font-size: 20px;
}
#colderecha
{
}
#nw{
    margin-left: 115px;
}
#nw1{
    margin-left: 115px;
}
.postprofilepic{
    display: none;
    margin-left:1170;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-bottom: -10;
    margin-top: -70;
}
#postn{
    text-align: right;
    margin-right: 50px;
    margin-top: -40;
}
#categorybadge{
    position: relative;
    float: right;
}
.form-check-label{
    margin-top: 15px;
}
#botonr{
    margin-bottom: 15px;
    width: 150px;
    margin-left: 1080px;
    margin-top: -54px;
}
#botonc{
    margin-bottom: 15px;
    width: 150px;
    margin-left: 920px;
}
#labelr{
    color: white;
}
#locationchk{
    margin-top: -40px;
    margin-left: 200px;
}
#boton{
    margin-left: 5px;
}
#rn{
    color: black;
    margin-top: -15px;
    margin-left: 55px;
    margin-bottom: -1px;
}
#replydiv{
}
#ri{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: -15px;
}